<div class="landing animated-particles-container">
  <app-animated-particles></app-animated-particles>
  <div class="landing_logo-container">
    <div class="landing_logo">
      <div class="landing_logo-background">
        <div class="landing_logo-background-circle"></div>
        <div class="landing_logo-text-container">
          <h1 class="landing_logo-title">Jeff Manke</h1>
          <app-type-writer
            class="landing_logo-subtitle"
            text="// Software Developer"
          ></app-type-writer>
        </div>
      </div>
    </div>
  </div>
</div>
