$primary-color-dark: #1E1E1E;
$primary-color: white;
$secondary-color: #333333;
$accent-color: #bbbbbb;
$text-color: #CCCCCC;
$heading-color: rgb(83, 83, 83);
$highlight-blue: #8CDCFE;

$heading-font: 'Ubuntu', sans-serif;

$margin-left: 4rem;
$margin-top: 4rem;
$margin-horizontal: 5rem;
$margin-vertical: 5rem;

$mobile-width: 500px;
$min-width: 200px;

$wide-view-mode: true;