.fill-bar {
  display: flex;
  height: 2rem;
  border-radius: 3px;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  box-shadow: 0 0 5px #797979;
  margin: 0.5rem 0;
}

.fill-bar .label-header {
  border-radius: 3px 0 0 3px;
  display: flex;
  height: 100%;
  width: 10%;
  min-width: 6rem;
  background-color: #3f9cd6;
}

.fill-bar .label-header .label {
  margin: auto;
  padding: 0 0.5rem;
  color: white;
}

.fill-bar .fill-background-container {
	position: relative;
	display: flex;
	background-color: transparent;
	width: 90%;
	overflow: hidden;
}

.fill-bar .fill-background {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%);
  transition: transform 3s ease-out;
	width: 100%;
	height: 100%;
}

.fill-bar .fill-background.is-visible {
	transform: translateX(0);
}

.fill-bar .fill-background-container .fill-percent {
  color: white;
	padding-left: 0.5rem;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 1;
}
