.fill-bar {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  margin: 0.5rem 0;
}

.fill-bar__heading {
  display: flex;
}

.fill-bar__heading-label {
  color: #1C6FA2;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: auto;
}

.fill-bar__heading-percent {
  color: #1C6FA2;
  opacity: 70%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
}

.fill-bar__bar-container {
  width: 100%;
  height: 0.4rem;

  border-style: solid;
  border-color: rgba(161, 200, 224, 0.5);
  border-width: 1px;

  overflow: hidden;
}

.fill-bar__bar {
  display: flex;
  background: linear-gradient(to left, #3F9CD6, #49DEDE);
  height: 100%;
  align-self: center;
  box-shadow: 0 0 7px rgb(175, 207, 228);
  transform: translateX(-100%);
  transition: transform 3s ease-out;
}

.fill-bar__bar_isVisible {
  transform: translateX(0);
}