.focus-panel {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  will-change: opacity;
}

.focus-panel.is-visible {
  visibility: visible;
  opacity: 1;
}

.focus-panel .panel-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

.focus-panel .panel-container {
  position: relative;
  display: flex;
  background-color: white;
  width: 80vw;
  height: 80vh;
  max-width: 80vh;
  max-height: 80vw;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .focus-panel .panel-container {
    max-width: initial;
    max-height: initial;
  }
}

.focus-panel .panel-container-contents {
  width: 90%;
  height: 90%;
  margin: auto;
  overflow-y: auto;
}