* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  background-color: white;
  font-family: "Ubuntu", sans-serif;
}

.app {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

p {
  font-size: 1.2rem;
  color: #1E1E1E;
  line-height: 2rem;
}

.logo {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin: auto;
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  font-size: 1.25em;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 4rem;
  height: 100vh;
  background-color: #333333;
  border-style: none solid none none;
  border-width: 1px;
  border-color: #595959;
}

@media screen and (max-width: 800px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 300px;
    width: 100%;
    height: 4rem;
    border-style: none none solid none;
    border-width: 1px;
  }
}

.nav__item {
  position: relative;
  margin: 0;
  padding: 1rem 0.625rem;
  color: #bbbbbb;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (max-width: 800px) {
  .nav__item {
    display: initial;
  }
}

.nav__item:hover {
  color: white;
}

.nav__item.active {
  color: white;
}

.nav__item__active-bar {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.25rem;
  height: 100%;
  background-color: #8CDCFE;
}

.nav__item__active-bar.hidden {
  height: 0;
}

.nav__item__active-bar.show {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.nav__item__text {
  display: none;
  padding-left: 0.5rem;
}

@media screen and (max-width: 800px) {
  .nav__item__text {
    display: initial;
  }
}

.nav__item .nav-tooltip {
  position: absolute;
  text-align: center;
  top: 16%;
  left: 4.8rem;
  color: #1E1E1E;
  pointer-events: none;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  background: #333333;
  padding: 0.5rem;
}

.nav__item .nav-tooltip__arrow {
  content: "";
  position: absolute;
  top: 50%;
  right: 98%;
  margin-top: -0.375rem;
  border-width: 0.375rem;
  border-style: solid;
  border-color: transparent #333333 transparent transparent;
}

.nav .menu-toggle {
  color: white;
  padding-left: 2rem;
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .nav .menu-toggle {
    display: initial;
  }
}

@media screen and (max-width: 200px) {
  .nav .menu-toggle {
    display: initial;
    padding-left: 0.5rem;
  }
}

.nav .menu-toggle:focus {
  outline: none;
}

.nav__start {
  padding-top: 1rem;
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  background-color: inherit;
}

@media screen and (max-width: 800px) {
  .nav__start {
    padding-top: initial;
  }
  .nav__start .nav__item {
    display: none;
  }
}

.nav__start .logo {
  margin: auto;
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .nav__start .logo {
    display: none;
  }
}

.nav__middle {
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.nav__middle .logo {
  display: none;
  vertical-align: middle;
  position: fixed;
  top: 2rem;
  left: 50%;
  margin-top: -1.5rem;
  margin-left: -1.5rem;
}

@media screen and (max-width: 800px) {
  .nav__middle .logo {
    padding: 0;
    display: initial;
  }
}

.nav__end {
  background-color: inherit;
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .nav__end {
    margin-left: auto;
    margin-top: initial;
    margin-right: 1rem;
    margin-bottom: initial;
  }
}

.nav__end .nav__item {
  margin: auto;
}

.nav__end .nav__item__text {
  display: none;
}

.nav__sidebar {
  background-color: inherit;
  position: fixed;
  height: 100vh;
  width: 15rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  z-index: 3;
  border-style: none solid none none;
  border-width: 1px;
  border-color: #595959;
}

@media screen and (max-width: 800px) {
  .nav__sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__sidebar__header {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.nav__sidebar__header .logo {
  margin-left: auto;
  margin-right: 1rem;
}

.nav__sidebar__header .menu-toggle {
  margin-right: auto;
  margin-left: 1.5rem;
  padding: 0;
}

.nav__sidebar__item {
  position: relative;
  margin: 0;
  padding: 1rem 0;
  height: 4rem;
  border: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(255, 255, 255, 0.25);
}

.nav__sidebar__item .nav__item {
  position: absolute;
  padding-left: 1.2rem;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

.nav__sidebar__item .nav__item__text {
  font-size: 1.2rem;
}

.nav__sidebar__item .nav__item .fas {
  vertical-align: middle;
}

.nav__sidebar__item hr {
  margin-top: 1.5rem;
}

.nav .active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-page {
  position: relative;
  height: 100vh;
  text-align: center;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-page__canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #1E1E1E;
  overflow-x: auto;
}

.landing-page__container {
  margin-top: auto;
  margin-bottom: auto;
}

.landing-page__container__logo {
  width: 20rem;
}

.landing-page__container__title {
  font-size: 3rem;
  color: whitesmoke;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.landing-page__container__subtitle {
  color: #6a9955;
  margin-bottom: auto;
}

.project-card {
  position: relative;
  width: 18.75rem;
  height: 28.125rem;
  min-width: 18.75rem;
  min-height: 28.125rem;
  background-color: #333333;
  margin: 1rem;
  -webkit-box-shadow: 1rem;
          box-shadow: 1rem;
}

.project-card__img-display {
  position: relative;
  margin: auto;
  width: 100%;
  height: 14.375rem;
}

.project-card__heading {
  padding-top: 1rem;
  padding-left: 2rem;
  text-align: left;
  color: #1E1E1E;
}

.project-card__description-text {
  position: relative;
  height: 7rem;
  padding: 1rem 2rem;
  color: #1E1E1E;
  overflow-y: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 800px) {
  .content {
    margin-top: 4rem;
    left: 0;
  }
}

.content .section {
  padding-bottom: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .section .section-container {
  margin: 5rem 5rem;
  max-width: 70rem;
}

.content .section .experience {
  background-color: red;
}

.content .section .projects {
  height: 100%;
}

.content .section .projects__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading {
  position: relative;
  color: #3b3b3b;
  text-align: center;
  font-size: 3rem;
  padding: 5rem 0;
}

.shadow-screen {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
}

@media screen and (max-width: 800px) {
  .shadow-screen {
    display: initial;
  }
}

.text-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text-img-box .paragraph-img {
  border-radius: 100%;
  width: 20rem;
  height: 100%;
  padding: 2rem;
}

.text-img-box p {
  padding: 2rem 0;
}

@media screen and (max-width: 800px) {
  .text-img-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s linear 0s, opacity 150ms;
  transition: visibility 0s linear 0s, opacity 150ms;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 150ms, opacity 150ms;
  transition: visibility 0s linear 150ms, opacity 150ms;
}

.scale-expand {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 80ms linear;
  transition: all 80ms linear;
}

.scale-original {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 80ms linear;
  transition: all 80ms linear;
}

.show {
  visibility: show;
}

.hidden {
  visibility: hidden;
}

.bg-primary {
  background-color: white;
}

.bg-secondary {
  background-color: #f0f0f0;
}
/*# sourceMappingURL=main.css.map */