.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.landing-page {
  position: relative;
  height: 100vh;
  text-align: center;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.landing-page__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .landing-page__content {
    top: 4rem;
  }
}

.landing-page__canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #1E1E1E;
}

.landing-page__container {
  position: relative;
  width: 35vw;
  height: 35vw;
  font-size: 1vw;
  margin: auto;
  border-radius: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#3F9CD6), to(#49DEDE));
  background: linear-gradient(to left, #3F9CD6, #49DEDE);
  z-index: 1;
}

@media screen and (min-width: 1104px) {
  .landing-page__container {
    width: 25rem;
    height: 25rem;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 767px) {
  .landing-page__container {
    width: 60vw;
    height: 60vw;
    font-size: 2vw;
  }
}

@media screen and (orientation: landscape) {
  .landing-page__container {
    width: 50vh;
    height: 50vh;
    font-size: 1.55vh;
  }
}

.landing-page__container::before {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  z-index: 0;
  background-color: #1E1E1E;
}

.landing-page__container-title {
  position: relative;
  margin: 0;
  margin-top: 2.5em;
  font-size: 4em;
  color: #f5f5f5;
}

.landing-page__container .type-writer {
  position: relative;
  font-size: 2em;
  color: #6a9955;
}

.landing-page__logo-anchor {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
}

.landing-page__logo {
  opacity: 0;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  position: relative;
  bottom: 5rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .landing-page__logo {
    width: 5rem;
    height: 5rem;
    bottom: 2.5rem;
  }
}

.landing-page__logo_is-visible {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.text-img-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 0.3fr;
      grid-template-columns: 0.7fr 0.3fr;
}

@media screen and (max-width: 1024px) {
  .text-img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.text-img-box__img {
  border-radius: 100%;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .text-img-box__img {
    margin-bottom: 3rem;
  }
}

.heading {
  position: relative;
  color: #3b3b3b;
  text-align: center;
  padding: 0;
  margin: 5rem 0 8rem 0;
}

@media screen and (max-width: 767px) {
  .heading {
    margin: 5rem 0 3rem 0;
  }
}

.shadow-screen {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
}

@media screen and (max-width: 767px) {
  .shadow-screen {
    display: initial;
  }
}
/*# sourceMappingURL=main.css.map */