<app-section name="About Me" href="About">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <app-fade-in fadeLeft="true">
          <h1 class="section-title mt-0 mb-1 py-0 text-center text-md-left">
            About Me
          </h1>
          <hr />
        </app-fade-in>
        <app-fade-in fadeRight="true">
          <p class="px-0">
            Hello, my name is Jeff Manke and I'm a Software Developer living in
            Victoria, BC. I have a BSc, Double Major in Computer Science and
            Economics from the Univeristy of Victoria. My experience ranges from
            working on data visualization tools built for VR and AR devices, to
            web development with React, Angular and .NET Core. I'm always
            striving to learn new techniques and take my skills to the next
            level. Keeping code DRY, maintainable, testable and readble are a
            top priority for me.
          </p>
          <a
            class="btn mx-2 btn-primary"
            href="https://www.linkedin.com/in/jeff-manke/"
            >LinkedIn</a
          >
          <a class="btn mx-2 btn-light" href="https://github.com/jmanke/"
            >GitHub</a
          >
        </app-fade-in>
      </div>
      <div class="col d-none d-lg-flex ml-auto">
        <app-fade-in fadeRight="true">
          <img
            class="person ml-auto align-middle"
            src="assets/images/man-man.svg"
          />
        </app-fade-in>
      </div>
    </div>
  </div>
</app-section>
