<app-landing></app-landing>
<app-navbar [navItems]="navItems"></app-navbar>
<div class="app-body m-auto">
  <div class="container-fluid section-container bg-light-gray">
    <app-about></app-about>
  </div>

  <div class="container-fluid section-container">
    <app-skills></app-skills>
  </div>

  <div class="container-fluid section-container bg-light-gray">
    <app-projects></app-projects>
  </div>

  <div class="container-fluid section-container">
    <app-journey></app-journey>
  </div>
</div>
<app-footer></app-footer>
