@import 'variables';

.footer {
  position: absolute;
  left: $margin-left;
  right: 0;
  background-color: $primary-color-dark;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  &__links {
    display: flex;
    .nav-item {
      font-size: 1.75rem;
    }
  }

  &__mail {
    align-self: center;
    color: $highlight-blue;
    text-decoration: none;

    &:hover {
      color: lighten($highlight-blue, 10%);
      text-decoration: underline;
    }

    &:active {
      color: $highlight-blue;
    }
  }

  &__mail-label {
    align-self: center;
    padding-right: 0.5rem;
    color: $accent-color;
  }

  &__copyright {
    font-size: 0.8em;
    opacity: 0.75;
    margin-top: 0.5rem;
    color: $accent-color;
  }

  @media screen and (max-width: $mobile-width) {
    left: 0;
  }
}